<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{template :: headFragment}"></head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="content-box">
                <h1>Martinize2</h1>
                <hr>
                <h4>Always required</h4>
                <form method="post" enctype="multipart/form-data" action="index">
                        <label for="formFile" class="form-label">PDB file</label>
                        <input class="form-control" type="file" accept=".pdb" id="formFile" name="PDBfile" required>
                    <br>
                        <label for="formFile" class="form-label">Output Topology</label>
                        <input type="file" class="form-control" name="topology" accept=".top" required>
                    <br>
                    <button type="submit" value="upload" class="btn btn-primary">Submit</button>
                </form>
                <p th:text="${message}">Een test</p>
                <p th:text="${file1}"></p>
                <p th:text="${file2}"></p>

            </div>
        </div>
    </div>
</div>
</body>
</html>