<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{template :: headFragment}"></head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="content-box">
                <h1>Martinize2</h1>
                <hr>
                <h4>Always required</h4>
                <form method="post">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">PDB file</label>
                        <input class="form-control" type="file" id="formFile" name="PDBfile" required>
                    </div>
                    <div>
                        <label>Output Topology</label>
                        <input type="file" class="form-control" name="topology" required>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <p th:text="${file}">Een test</p>
                <p th:text="${file2}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>